<div class="jumbotron text-center">
    <h1 class="display-5">HTTP/S Interceptions</h1>
    <p class="lead">Description goes here...</p>
    <a href="/receptions/add" class="btn btn-success btn-lg">Create an Interception</a>


</div>